.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 0 0 150px;
    margin-left: 20px;
    text-align: left;
}

.form-group field {
    flex: 1;
}